.codenames {
  width: 800px;
}

.codenames-title {
  display: flex;
  background-color:yellow;
  justify-content: center;
}

.codenames-gameboard {
  float: left;
}

.codenames-codeword-row {
  clear:both;
}

.codenames-codeword-item {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
  float: left;
  border: 1px solid black;
  justify-content: center;
  margin: 1px;
}

.codenames-location-board {
  float: right;
}

.codenames-location-row {
  clear:both;
}

.codenames-location-item {
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
  float: left;
  border: 1px solid black;
  justify-content: center;
  margin: 1px;
}

.codenames-given-hint {
  display: flex;
  justify-content: center;
}

.codenames-action-line, .codenames-new-game-line, .codenames-status-line {
  clear: both;
  display: flex;
  background-color: pink;
  justify-content: center;
}

.codenames-status-line {
  background-color: yellow;
}

.codenames-locationtype-assassin {
  background-color: black;
}

.codenames-locationtype-agent {
  background-color: green;
}

.codenames-locationtype-bystander, .codenames-word-status-unchecked {
  background-color: white;
}

.codenames-word-status-unchecked {
  background-color: white;
}

.codenames-word-status-agent_found {
  background-color: green;
}

.codenames-word-status-player_1_hit_bystander {
  background: linear-gradient(white, yellow);
}

.codenames-word-status-player_2_hit_bystander {
  background: linear-gradient(yellow, white);
}

.codenames-word-status-both_players_hit_bystanders {
  background-color: yellow;
}

.codenames-word-status-assassin_found {
  background-color: black;
}
