.codenames-gameboard {
  float: left;
}

.codenames-codeword-row {
  clear:both;
}

.codenames-codeword-item {
  display: flex;
  align-items: center;
  height: 77px;
  width: 77px;
  float: left;
  margin: 1px;
  border: 1px solid black;
  justify-content: center;
}
.codenames-codeword-item:hover {
  cursor: pointer;
}

.codenames-location-board {
  float: left;
}

@media(min-width:650px) {
  .codenames-location-board {
    margin-left: 50px;
  }
}

.codenames-location-row {
  clear:both;
}

.codenames-location-item {
  height: 30px;
  width: 30px;
  float: left;
  border: 1px solid black;
  margin: 1px;
}

.codenames-action-line, .codenames-new-game-line, .codenames-status-line, .codenames-log-header {
  clear: both;
}

.codenames-locationtype-assassin {
  background-color: black;
}

.codenames-locationtype-agent, .codenames-word-status-agent_found {
  background-color: green;
}

.codenames-locationtype-bystander, .codenames-word-status-unchecked {
  background-color: white;
}

.codenames-word-status-current_player_hit_bystander {
  background: linear-gradient(white, yellow);
}

.codenames-word-status-other_player_hit_bystander {
  background: linear-gradient(yellow, white);
}

.codenames-word-status-both_players_hit_bystanders {
  background-color: yellow;
}

.codenames-word-status-assassin_found {
  background-color: black;
  color: white;
}

.codenames-log {
  white-space: pre;
}

.codenames-log-inner {
  margin-left: 10px;
}

.codenames-hint-input {
  width: 130px;
}

.codenames-hint-num-words {
  width: 30px;
}

.codenames-player-to-invite {
  width: 100px;
}
