.current-documents {
  margin-bottom: 5px;
}

.table {
  width: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin: auto;
}

.table td, .table th {
  padding: 8px;
}

.table td, .table th {
  border: 1px solid #ddd;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: blue;
  color: white;
}

.current-documents-edit:hover, .current-documents-cancel:hover, .current-documents-trash:hover {
  cursor: pointer;
}

.current-documents-list {
  margin-bottom: 5px;
}

/* Add padding to container elements */
.current-documents-modal-container {
    padding: 16px;
}

/* The Modal (background) */
.current-documents-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}

/* Modal Content/Box */
.current-documents-modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.current-documents-input {
  width: 240px;
}
