:root {
  --dominion-card-width: 6.6vw;
  --dominion-card-height: calc(var(--dominion-card-width) * 1.6);
  --dominion-card-width-with-margin: calc(var(--dominion-card-width) + 2 * var(--card-margin));
  --dominion-card-height-with-margin: calc(var(--dominion-card-height) + 2 * var(--card-margin) + var(--extra-height-fix-for-scrollbars));
  --dominion-sideways-card-width: calc(var(--dominion-card-height) * 1.6);
  --dominion-sideways-card-width-with-margin: calc(var(--dominion-sideways-card-width) + 2 * var(--card-margin));
}

.dominion-game {
  background-image: url('/static/dominion-background.jpg')
}

.dominion-cards-area-above-play-area {
  float: left;
  width: calc(var(--dominion-card-width-with-margin) * 12 + var(--scrollbar-width));
  height: calc(var(--dominion-card-height-with-margin) * 2);
  overflow: auto;
}

.dominion-preview-normal, .dominion-preview-sideways {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0.48vw;
  pointer-events: none;
}

.dominion-preview-normal {
  height: calc(2.2 * var(--dominion-card-height));
  width: calc(2.2 * var(--dominion-card-width));
}

.dominion-preview-sideways {
  height: calc(2.2 * var(--dominion-card-height));
  width: calc(2.2 * var(--dominion-sideways-card-width));
}

.dominion-vp-treasure-area {
  float: left;
  width: calc(var(--dominion-card-width-with-margin) * 4);
}

.dominion-kingdom-area {
  float: left;
  width: calc(var(--dominion-card-width-with-margin) * 5);
}

.dominion-events-area {
  float: left;
  width: var(--dominion-sideways-card-width-with-margin);
}

.dominion-boons-and-hexes-deck-and-discard, .dominion-hexes-deck-and-discard {
  float: left;
  width: calc(var(--dominion-sideways-card-width-with-margin));
}

.dominion-game-log {
  display:flex;
  flex-direction:column-reverse;
  float: right;
  margin-top: var(--standard-margin);
  height: 26vw;
  width: 16vw;
  overflow: auto;
}

.dominion-player-area {
  float: left;
  margin-top: var(--standard-margin);
  width: calc(100% - 16vw);
}

.dominion-play-area {
  float: left;
  margin-top: var(--standard-margin);
  width: calc(100% - var(--dominion-card-width-with-margin) * 3 - var(--scrollbar-width));
}

.dominion-duration-area {
  float: left;
  margin-top: var(--standard-margin);
  width: calc(var(--dominion-card-width-with-margin) * 3 + var(--scrollbar-width));
}

.dominion-deck-and-hand {
  margin-top: var(--standard-margin);
}

.dominion-single-pile {
  float: left;
  width: var(--dominion-card-width-with-margin);
}

.dominion-hand-area {
  float: left;
  margin-left: 1.8vw;
  width: calc(100% - 1.8vw - 2 * var(--dominion-card-width-with-margin));
}

.dominion-hand-cards-area, .dominion-single-pile-cards, .dominion-duration-cards-area, .dominion-play-cards-area {
  height: var(--dominion-card-height-with-margin);
}

.dominion-hand-cards-area, .dominion-duration-cards-area, .dominion-play-cards-area {
  overflow: auto;
}

.dominion-hand-cards-area {
  background-color: orange;
}

.dominion-duration-cards-area {
  background-color: lightblue;
}

.dominion-play-cards-area {
  background-color: teal;
}
