.hobby-tracker {
  margin: 20px 0px 5px 0px;
}

.hobby-title {
  display: flex;
}

/* All buttons -------------------------------------------------------------------------------------------------- */
.hobby-buttons {
  margin: 22px 0px 0px 15px;
}

.hobby-buttons:hover, .hobby-icon:hover {
  cursor: pointer;
}

/* Hobby Table ------------------------------------------------------------------------------------------------ */
th {
  padding: 10px;
}

.hobby-header {
  margin-right: 25px;
}

.hobby-table {
  width: 100%;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: auto;
}

.hobby-table-headers {
  background-color: #0059b3;
  color: white;
}

.hobby-items {
  text-align: center;
}

.hobby-item-name {
  text-align: left;
}
