.inventory-single-box {
    margin-bottom: 30px;
}

.box-text {
    border: 1px solid #b8ecff;
    margin: 5px 0;
}

.inventory-inventory {
    margin-bottom: 30px;
}

.box-title {
    font-size: 1.3em;
}