:root {
  --lotr-card-width: 7vw;
  --lotr-card-height: calc(var(--lotr-card-width) * 1.4);
  --lotr-card-width-with-margin: calc(var(--lotr-card-width) + 2 * var(--card-margin));
  --lotr-card-height-with-margin: calc(var(--lotr-card-height) + 2 * var(--card-margin));
  --lotr-sideways-card-width: calc(var(--lotr-card-height) * 1.41);
  --lotr-sideways-card-width-with-margin: calc(var(--lotr-sideways-card-width) + 2 * var(--card-margin));
}

.lotr-game {
  background-image: url('/static/lotr/background/background.jpg');
}

.lotr-cards-area-above-hand {
  min-height: calc(var(--lotr-card-height-with-margin) * 4);
  overflow: auto;
}

.lotr-preview-normal, .lotr-preview-sideways {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 0;
  border-radius: 0.48vw;
  pointer-events: none;
}

.lotr-preview-normal {
  height: calc(2.5 * var(--lotr-card-height));
  width: calc(2.5 * var(--lotr-card-width));
}

.lotr-preview-sideways {
  height: calc(2.5 * var(--lotr-card-height));
  width: calc(2.5 * var(--lotr-sideways-card-width));
}

.lotr-card-list-outer {
  float: left;
  position: relative;
}

.lotr-card-list-inner {
  border-radius: 0.24vw;
  position: absolute;
  left: 0;
}

.lotr-card-list-token {
  position: absolute;
  z-index: 900;
  background-color: rgba(255,0,0,.9);
  box-shadow: 0 0 0.12vw 0.12vw rgba(0,0,0,.75);
  font-family: Monospaced;
  border-radius: 0.18vw;
  transform-origin: 0 0;
  height: 0.9vw;
  width: 0.9vw;
  font-size: 0.78vw;
  line-height: 0.9vw;
  color: #fff;
  text-align: center;
}

.lotr-staging-area {
  float: left;
  width: calc(var(--lotr-card-width-with-margin) * 7 + var(--scrollbar-width));
}

.lotr-single-cards-row {
  height: var(--lotr-card-height-with-margin);
  overflow: auto;
}

.lotr-active-location {
  float: left;
  width: var(--lotr-card-width-with-margin);
}

.lotr-quest {
  float: left;
  width: var(--lotr-sideways-card-width-with-margin);
}

.lotr-encounter {
  float: left;
  width: var(--lotr-card-width-with-margin);
}

.lotr-player-play-area {
  float: left;
  margin-top: var(--standard-margin);
  width: calc(var(--lotr-card-width-with-margin) * 6 + var(--scrollbar-width));
}

.lotr-engaged-enemies {
  height: calc(var(--lotr-card-height-with-margin) * 1.11);
  overflow: auto;
}

.lotr-characters {
  position: relative;
  height: calc(var(--lotr-card-height-with-margin) * 1.89);
  overflow: auto;
}

.lotr-played {
  float: left;
  margin-top: var(--standard-margin);
  width: calc(var(--lotr-card-width-with-margin) + var(--scrollbar-width));
}

.lotr-played-cards-area {
  height: calc(var(--lotr-card-height-with-margin) * 3);
  overflow: auto;
}

.lotr-player-area {
  float: left;
  margin-top: var(--standard-margin);
}

.lotr-quest-deck-and-discard {
  float: left;
  width: calc(var(--lotr-sideways-card-width-with-margin));
}

.lotr-deck-and-discard {
  float: left;
  width: calc(var(--lotr-card-width-with-margin));
}

.lotr-deck-and-hand {
  margin-top: var(--standard-margin);
  height: var(--lotr-card-height-with-margin);
}

.lotr-single-pile {
  float: left;
  width: var(--lotr-card-width-with-margin);
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.lotr-hand {
  float: left;
  margin-left: 1.8vw;
  width: calc(100% - 1.8vw - 2 * var(--lotr-card-width-with-margin));
}

.lotr-hand-cards, .lotr-single-pile-cards, .lotr-play-cards {
  overflow: auto;
  height: var(--lotr-card-height-with-margin);
}

.lotr-hand-cards {
  background-color: orange;
}

.lotr-play-cards {
  background-color: teal;
}

/* From dominion.games */
.lotr-card-counter-container {
  top: 0px;
  left: 0px;
  position: relative;
  z-index: 900;
  background-color: rgba(255,0,0,.9);
  box-shadow: 0 0 0.12vw 0.12vw rgba(0,0,0,.75);
  font-family: Monospaced;
  border-radius: 0.18vw;
  transform-origin: 0 0;
  height: 0.9vw;
  width: 0.9vw;
  font-size: 0.78vw;
  line-height: 0.9vw;
  color: #fff;
  text-align: center;
}

.lotr-card-container {
  position: relative;
  float: left;
  height: var(--lotr-card-height);
  width: var(--lotr-card-width);
  margin: var(--card-margin);
}

.lotr-sideways-card-container {
  position: relative;
  float: left;
  height: var(--lotr-card-height);
  width: var(--lotr-sideways-card-width);
  margin: var(--card-margin);
}

.lotr-card {
  top: 0px;
  left: 0px;
  height: var(--lotr-card-height);
  width: var(--lotr-card-width);
  margin: var(--card-margin);
  border-radius: 0.24vw;
}

.lotr-sideways-card {
  top: 0px;
  left: 0px;
  height: var(--lotr-card-height);
  width: var(--lotr-sideways-card-width);
  margin: var(--card-margin);
  border-radius: 0.24vw;
}

.lotr-deck-and-hand {
  margin-top: var(--standard-margin);
}

.lotr-single-pile {
  float: left;
  width: var(--lotr-card-width-with-margin);
}

.lotr-hand-area {
  float: left;
  margin-left: 1.8vw;
  width: calc(100% - 1.8vw - 2 * var(--lotr-card-width-with-margin));
}

.lotr-hand-cards-area, .lotr-single-pile-cards {
  height: var(--lotr-card-height-with-margin);
}

.lotr-hand-cards-area {
  overflow: auto;
}

.lotr-hand-cards-area {
  background-color: orange;
}

.lotr-note {
  height: calc(var(--lotr-card-height-with-margin) * 3);
  width: 100%;
}