.clearfix {
  clear: both;
}

.welcome-bar {
  background-color: #e6e6ff;
}

.welcome-message {
  float:left;
}

.login-bar {
  float: right;
}

.login-bar form {
  margin: 0px;
  padding: 0px;
  display: inline;
}
