* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.welcome-bar {
  background-color: #e6e6ff;
  margin-bottom: 10px;
}

.welcome-message {
  float:left;
}

.login-bar {
  float: right;
}

.login-bar form {
  margin: 0px;
  padding: 0px;
  display: inline;
}

.login-input {
  width: 100px;
}

.expand-icon:hover {
  cursor: pointer;
}

.title {
  background-color: #CBFF8C;
  font-size: 16px;
}
